**/__pycache__
**/.venv
**/.classpath
**/.coverage
**/.DS_Store
**/.dockerignore
**/.env
**/.env.example
**/.git
**/.github
**/.gitignore
**/.project
**/.pytest_cache
**/.ruff_cache
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/tests
**/values.dev.yaml
asset
docs
requirements-dev.in
requirements-dev.lock
requirements.in
requirements.txt
unraid
unraid.xml
LICENSE
README.md
